# Creating a Investment and Trading Web App
## Using PyTorch and SageMaker

_Deep Learning Nanodegree Program | Deployment_

---

In [3]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.preprocessing
import warnings

In [5]:
pd.options.display.float_format = '{:,.2f}'.format
warnings.filterwarnings('ignore')

In [6]:
!wget https://investment-and-trading-udacity.s3-us-west-2.amazonaws.com/JPM+2009-2019.csv -O ../data/raw/JPM+2009-2019.csv

--2019-08-03 03:43:53--  https://investment-and-trading-udacity.s3-us-west-2.amazonaws.com/JPM+2009-2019.csv
Resolving investment-and-trading-udacity.s3-us-west-2.amazonaws.com (investment-and-trading-udacity.s3-us-west-2.amazonaws.com)... 52.218.240.177
Connecting to investment-and-trading-udacity.s3-us-west-2.amazonaws.com (investment-and-trading-udacity.s3-us-west-2.amazonaws.com)|52.218.240.177|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 187676 (183K) [text/csv]
Saving to: ‘../data/raw/JPM+2009-2019.csv’

../data/raw/JPM+200 100%[===================>] 183.28K   864KB/s    in 0.2s

2019-08-03 03:43:53 (864 KB/s) - ‘../data/raw/JPM+2009-2019.csv’ saved [187676/187676]

In [7]:
stock_data = pd.read_csv('../data/raw/JPM+2009-2019.csv')

In [8]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 7 columns):
Date         2654 non-null object
Open         2654 non-null float64
High         2654 non-null float64
Low          2654 non-null float64
Close        2654 non-null float64
Adj Close    2654 non-null float64
Volume       2654 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 145.2+ KB

In [9]:
stock_data.shape

(2654, 7)

In [10]:
stock_data.head()

         Date  Open  High   Low  Close  Adj Close    Volume
0  2009-01-02 31.19 31.64 30.47  31.35      24.56  32494900
1  2009-01-05 30.73 30.77 29.08  29.25      22.92  44069400
2  2009-01-06 29.79 30.42 29.51  29.88      23.41  44216300
3  2009-01-07 29.15 29.40 28.00  28.09      22.01  42156500
4  2009-01-08 27.90 27.95 26.86  27.22      21.33  52075800

In [11]:
stock_data.describe()

          Open     High      Low    Close  Adj Close         Volume
count 2,654.00 2,654.00 2,654.00 2,654.00   2,654.00       2,654.00
mean     62.13    62.72    61.53    62.13      55.72  26,770,442.20
std      25.80    25.91    25.69    25.79      27.44  21,861,503.66
min      15.37    17.29    14.96    15.90      12.46   3,680,000.00
25%      41.50    41.94    41.03    41.53      33.33  13,436,550.00
50%      56.62    57.00    56.14    56.67      49.27  19,304,750.00
75%      78.75    79.44    78.30    79.25      73.62  32,481,600.00
max     119.13   119.33   118.08   118.77     115.30 217,294,200.00